body {
    color: aliceblue;
}

.container {
    background: linear-gradient(rgb(255, 255, 255), rgb(1, 1, 37));
    text-align: center;
    margin-right: 0px;
    margin-top: 100px;
    padding: 100px;
    border-radius: 100px;
}

.row a {
    font-size: 22px;
    color: rgb(248, 252, 255);
    list-style: none;
}

.row p button.button {
    background: linear-gradient(blue, white);
    color: aliceblue;
    font-size: 20px;
}

.back button a {
    background: linear-gradient(blue, black);
    font-size: 16px;
    color: aliceblue;
}

button a {
    color: aliceblue;
}